.tres-raya {
  width: 80%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color);
  border-radius: 40px;
  gap: var(--size-large);
  padding: var(--size-large);
  background: url(/assets/img/cuaderno.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.board {
  width: 500px;
  height: 500px;
  max-width: 90vw;
  max-height: 90vh;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  align-items: center;
  justify-items: center;
  border-radius: 40px;
  box-sizing: border-box;
  padding: var(--size-large);
}

.board button {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
  background-color: transparent;
}

.button0 { 
  border-bottom: var(--size-small) solid var(--second-color); 
  border-right: var(--size-small) solid var(--second-color);
  border-left: none;
  border-top: none;
}

.button1 { 
  border-bottom: var(--size-small) solid var(--second-color);
  border-left: none;
  border-top: none;
  border-right: none;
}

.button2 {
  border-bottom: var(--size-small) solid var(--second-color);
  border-left: var(--size-small) solid var(--second-color);
  border-top: none;
  border-right: none;
}

.button3 {
  border-right: var(--size-small) solid var(--second-color);
  border-left: none;
  border-top: none;
  border-bottom: none;
}

.button4 {
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.button5 {
  border-left: var(--size-small) solid var(--second-color);
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.button6 {
  border-top: var(--size-small) solid var(--second-color);
  border-right: var(--size-small) solid var(--second-color);
  border-bottom: none;
  border-left: none;
}

.button7 {
  border-top: var(--size-small) solid var(--second-color);
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.button8 {
  border-top: var(--size-small) solid var(--second-color);
  border-left: var(--size-small) solid var(--second-color);
  border-right: none;
  border-bottom: none;
}

.board button img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.score-container {
  min-width: 250px;
  display: grid;
  grid-template-areas: 
    "title title"
    "imgX scoreX"
    "imgO scoreO"
    "board board"
    "scores scores";
  align-items: center;
  justify-items: center;
  gap: var(--size-small);
}

.score-title {
  grid-area: title;
  font-family: cursive, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 5px;
}

.img-x, .img-o {
  width: 100px;
}

.img-x {
  grid-area: imgX;
}

.imgO {
  grid-area: imgO;
}

.score-x {
  grid-area: scoreX;
  font-size: 6rem;
}

.score-o {
  grid-area: scoreO;
  font-size: 6rem;
}

.score-container button {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: cursive;
}

.button-reset-board {
  background: #ffcc00;
  grid-area: board;
}

.button-reset-scores {
  background: #ff0000;
  color: var(--first-color);
  grid-area: scores;
}

@media (max-width: 1050px) {

  .img-x, .img-o {
  width: 50px;
  }

  .score-x, .score-o {
  font-size: 3rem;
  }

  .score-title {
  font-size: 1.5rem;
  letter-spacing: 0px;
  }

  .score-container {
  min-width: 150px;
  }

  .board button img {
  width: 70%;
  height: 70%;
  }

  .board {
  width: 300px;
  height: 300px;
  margin-right: var(--size-large);
  }
}

@media (max-width: 695px) {
  .tres-raya {
  flex-direction: column;
  }

  .score-container {
  grid-template-areas: 
    "title title"
    "imgX scoreX"
    "imgO scoreO"
    "board scores";
  margin-left: var(--size-large);
  }

   .img-x, .img-o {
  width: 30px;
  }

  .score-title {
  font-size: 1.2rem;
  margin-top: var(--size-large);
  }

  .score-x, .score-o {
  font-size: 2rem;
  }

  .score-container button {
  padding: 5px 8px;
  }

  .board {
  margin-right: 0px;
  }
}

@media (max-width: 465px) {
  .board {
  width: 200px;
  height: 200px;
  grid-template-columns: repeat(3, minmax(70px, 1fr));
  grid-template-rows: repeat(3, minmax(70px, 1fr));
  }

  .board button img {
  width: 50%;
  height: 50%;
  }
}

@media (min-width: 650px) and (min-height: 750px) {

  .tres-raya {
    flex-direction: column;
    padding-top: 0;
    gap: 70px;
  }

  .board {
    width: 350px;
    height: 350px;
    grid-template-columns: repeat(3, minmax(130px, 1fr));
    grid-template-rows: repeat(3, minmax(130px, 1fr));
  }

  .img-x, .img-o {
    width: 50px;
  }

  .score-x, .score-o {
  font-size: 3rem;
  }

  .score-title {
  font-size: 1.5rem;
  letter-spacing: 0px;
  }

  .score-container {
  min-width: 150px;
  }
}

@media (min-width: 999px) and (min-height: 750px) {

  .tres-raya {
    flex-direction: row;
  }

 .img-x, .img-o {
    width: 70px;
  }

  .score-x, .score-o {
    font-size: 3.5rem;
  }

  .score-title {
    font-size: 2rem;
    letter-spacing: 0px;
  }

  .score-container {
    min-width: 200px;
    margin-left: 30px;
  }
}

@media (min-width: 999px) and (min-height: 750px) {

  .board {
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
    grid-template-rows: repeat(3, minmax(180px, 1fr));
    margin-right: 100px;
    margin-bottom: 150px;
  }
}

@media (min-width: 389px) and (min-height: 844px) {

  .tres-raya{
    height: 60vh;
  }
}

@media (min-width: 650px) and (min-height: 875px) {

  .tres-raya {
    height: 80vh;
  }
}

@media (min-width: 950px) and (min-height: 1000px) {

  .tres-raya {
    flex-direction: row;
  }
}

@media (min-width: 1050px) and (min-height: 1000px) {

  .board {
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    margin-right: 20px;
    }
}

@media (min-width: 1250px) and (min-height: 1000px) {

  .img-x, .img-o {
    width: 70px;
  }

  .score-x, .score-o {
    font-size: 3.5rem;
  }

  .score-title {
    font-size: 2rem;
    letter-spacing: 0px;
  }

  .score-container {
    min-width: 200px;
    margin-left: 30px;
  }
}

@media (min-width: 1500px) and (min-height: 1000px) {

  .board {
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
    grid-template-rows: repeat(3, minmax(180px, 1fr));
    margin-right: 100px;
    margin-bottom: 150px;
  }
}
