.quiz {
  max-width: 600px;
  margin: var(--size-large) auto;
  background: linear-gradient(135deg, #1e1e3f, #3f1e5f);
  border-radius: var(--size-medium);
  box-shadow: 0 8px var(--size-large) rgba(0,0,0,0.5);
  padding: var(--size-large);
  color: var(--first-color);
  font-family: var(--font-default);
}

.quiz-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--size-large);
}

.difficulty-button {
  border: none;
  padding: var(--size-small) var(--size-large);
  margin-right: var(--size-small);
  border-radius: var(--size-small);
  color: var(--first-color);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.difficulty-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px var(--size-small) rgba(0,0,0,0.3);
}

.difficulty-button.easy {
  background-color: green;
  color: var(--first-color);
}

.difficulty-button.normal {
  background-color: goldenrod;
  color: var(--second-color);
}

.difficulty-button.hard {
  background-color: red;
  color: var(--first-color);
}

.score-counter {
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(255,255,255,0.1);
  padding: 5px var(--size-small);
  border-radius: 8px;
}

.quiz-bottom {
  color: var(--first-color);
  border-radius: var(--size-small);
  padding: var(--size-medium);
  font-size: var(--size-large);
  background: url(/assets/img/trivial.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
   text-shadow:
    -1px -1px 0 var(--second-color),
     1px -1px 0 var(--second-color),
    -1px  1px 0 var(--second-color),
     1px  1px 0 var(--second-color);
}

.option-button {
  display: block;
  width: 100%;
  margin: var(--size-large) 0;
  padding: var(--size-small);
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}

.option-button:hover {
  background-color: #ffcc00;
  color: var(--second-color);
  transform: scale(1.03);
}



@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.quiz-bottom p, .option-button {
  animation: fadeIn 0.3s ease-in;
}

.question-text{
background-color: rgba(0, 0, 0, 0.7);
color: var(--first-color);
padding: var(--size-small);
text-align: center;
}

.countdown {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  color: #ffd700;
  margin-top: var(--size-small);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: var(--size-small);
}

@media (max-width: 438px) {
  
  .difficulty-button {
  padding: 8px var(--size-small);
  margin-right: var(--size-small);
  margin-top: var(--size-small);
  }
}