main {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    ".category1 .category2 .category3",
    ".game1 .game2 .game3";
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}