header {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.header-background {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-image: 
  url("/assets/img/mario-background.webp");
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: scroll-bg 10s linear infinite;
  z-index: 1;
}

.clouds {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-image: url("/assets/img/cloud.webp");
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: scroll-bg 30s linear infinite;
  z-index: 2;
}

.mario {
  position: absolute;
  bottom: 10%; 
  left: 10%;
  transform: translateX(-50%);
  width: 60px; 
  height: 60px;
  background-image: url("/assets/img/mario.webp");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
}

h1 {
  position: relative;
  top: 25%;
  font-family: var(--font-title);
  font-size: 5rem;
  color: var(--first-color);
  z-index: 4;
  text-align: center;
  text-shadow:
    -3px -3px 0 var(--second-color),
     3px -3px 0 var(--second-color),
    -3px  3px 0 var(--second-color),
     3px  3px 0 var(--second-color);
  letter-spacing: var(--size-large);
}

@keyframes scroll-bg {
  from { background-position: 0 0; }
  to   { background-position: -720px 0; }
}

@media (max-width: 738px) {
  h1 {
    font-size: 3rem;
    text-shadow: 
    -2px -2px 0 var(--second-color),
     2px -2px 0 var(--second-color),
    -2px  2px 0 var(--second-color),
     2px  2px 0 var(--second-color);
  }
}

@media (max-width: 566px) {
  h1 {
    font-size: 2rem;
    text-shadow: 
    -1px -1px 0 var(--second-color),
     1px -1px 0 var(--second-color),
    -1px  1px 0 var(--second-color),
     1px  1px 0 var(--second-color);
  }
}
