@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "atari";
  src: url("/assets/fonts/mario.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Roboto, sans-serif;
  background: linear-gradient(to bottom, #88fbff, #0066ff);
}


