footer {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  font-size: 1.2rem;
}

@media (max-width: 632px) {
  footer {
    font-size: 1rem;
    
  }

  footer p {
    margin: 0 var(--size-small);
  }
}